[2017-04-01 23:54] flungo opened #5 "Doesn't include transaction fee when determining available funds"
When making a withdrawal, you are able to withdraw your entire balance. Since withdrawal amounts are given pre-fee and this is what is used to validate, if you withdraw your entire balance, the transaction is accepted and you end up having a negative balance.

When this occurs an error should be provided with the maximum that can be withdrawn from the wallet accounting for the fee that will be add

[2017-04-05 22:46] lyoshenka commented on #5
wunderbot uses accounts in lbrycrdd to track balances. There's a known bug in here (inherited from bitcoin) that allows an account to go negative. See https://github.com/bitcoin/bitcoin/issues/2079

You're correct about what the solution is, but to be honest, it's more work than its worth. We don't mind paying the transaction fee in this case.

If you'd like to fix this, we're always happy to acce

[2017-04-05 22:46] #5 closed

[2017-04-19 20:11] CjMapope opened #6 "Wunderbot leaves Negative balance after W/d"
Wunderbot dosen't take the withdrawal fee from the users balance, but as the network still needs the fee, the user is left with a slight negative balance after said withdrawal :/
Better way, or "working as intended" ?
https://cloud.githubusercontent.com/assets/12862793/25199996/024533b8-250a-11e7-8fc3-00589c342b70.PNG

[2017-04-19 20:18] filipnyquist commented on #6
As of now this is not a priority, but if i get any spare time i could prob look into it!

[2017-04-19 20:40] kauffj commented on #6
@filipnyquist agreed this isn't a huge issue, but it is real, so we should probably leave it open?

[2017-04-19 20:41] kauffj commented on #6
Or merge this into #5 and reopen that one if you like that one more :P

[2017-04-21 15:14] lyoshenka commented on #6
This is the same issue as #5

[2017-04-21 15:14] #6 closed

[2017-10-27 19:30] ykris45 opened #45 "!Stats not working in discord"
I input !stats but it does not work in #market-and-trading or #bot-sandbox on our new server discord. can it be in switch from old slack to new discord #

[2017-10-27 19:55] MSFTserver commented on #45
there is no command for stats

[2017-10-27 19:56] MSFTserver commented on #45
not a bug just not there

[2017-10-27 19:56] MSFTserver commented on #45
i told you earlier ill be porting that today sometime

[2017-10-27 20:37] ykris45 commented on #45
Im sorry. Hehe not there i mean.

[2017-10-27 23:46] MSFTserver commented on #45
@ykris45 you can close this if you want it will be ready by the end of tomorrow

[2017-10-28 21:17] MSFTserver commented on #45
https://github.com/lbryio/lbry-wunderbot/pull/49

[2017-10-28 23:47] ykris45 commented on #45
Calm down bro. Im close it today. Becsuse yesterday im weekend bro. Seems busy right now

[2017-10-28 23:48] #45 closed

[2017-10-29 00:06] MSFTserver commented on #45
i am calm lol there was no need to even open this issue in the first place, if you looked at the bot youd notice it wasnt added yet

[2017-10-29 00:06] MSFTserver commented on #45
just have some patience

[2017-11-06 16:37] tzarebczan opened #68 "Migrate Content bot from Slack to Discord"
@nikooo777 you said you wanted to give this a shot - let me know how your schedule looks, otherwise I may ask @MSFTserver / @filipnyquist  to take a look.

[2017-11-06 16:38] nikooo777 commented on #68
Correct, I already forked and should be done in 2-3 days time.

[2017-11-06 16:40] nikooo777 opened #69 "tipbot should be separated from wunderbot"
I think it's bad practice to keep the tipbot in the same repository as wunderbot by just having a separate branch.
I believe it's best to have its own repository as the development of the branches will never meet again.
What do you think? I created a separated repo and pushed the code to it, if you guys agree i'd transfer the ownership to lbryio.

https://github.com/nikooo777/lbry-tipbot

[2017-11-06 16:46] kauffj commented on #69
@nikooo777 what's the fundamental reason the bots can't share the same code-base or the branches won't meet again? Is it just to keep the potentially more sensitive code separate?

[2017-11-06 17:00] nikooo777 commented on #69
Yes I think that the tipbot is slightly more sensitive than the other bots and for the sake of simplicity I would keep it in a different project.

On the other hand, other people might be interested in using the tipbot without having to pick it from our moderation bots.

Separating it would make it easier for us to fork, change, deploy; without dealing with branches.

[2017-11-06 17:01] kauffj commented on #69
:+1: from me, it's obviously insanity to use different branches for this :)

[2017-11-06 18:46] tzarebczan opened #70 "Irc bridge to #lbry on freenode"
A couple users in the past have requested an IRC bridge.

[2017-11-07 00:47] nikooo777 commented on #69
code was pushed to https://github.com/lbryio/lbry-tipbot

we should now delete the branches and the now-irrelevant code from this repository.
@filipnyquist perhaps you can help me with a low priority this or next week?
I'll be first working on the content bot

[2017-11-07 01:21] MSFTserver commented on #69
@nikooo777 @Coolguy3289 PR #47 has started working on removing this

[2017-11-07 02:21] Coolguy3289 commented on #69
It is removed in my PR already. I'm just finishing with the help command then it will be finished.

[2017-11-11 20:50] #69 closed

[2017-11-11 20:51] filipnyquist commented on #69
Has been moved to the lbry-tipbot repo!

[2017-11-13 23:31] nikooo777 commented on #68
see #84

[2017-11-15 06:44] aayanl commented on #70
I can host a bridge https://github.com/42wim/matterbridge , I already do it for another discord I'm a part of.

[2017-11-15 06:59] MSFTserver commented on #70
i dont think we are worried about having a place to host it, we just need the bridge part, and i would prefer if we included with wunderbot and not another bot that just starts to bulk things up we really dont need

[2017-11-15 07:00] MSFTserver commented on #70
i was looking into that see if i could port it over to wunderbot custom function, be my guest if you wanna give it a shot

[2017-11-15 07:04] MSFTserver commented on #70
i figured we use a nice nom package or i could work off one from the github repo of the npm package

[2017-11-15 15:00] tzarebczan commented on #70
I know @filipnyquist had some ideas here, not sure which route he wanted to go.

[2017-11-15 17:10] tzarebczan opened #87 "modify Discord messages with lbry:// links to open.lbry.io hyperlinks"
Goal: have hyperlinkable lbry:// addresses in slack

approach - monitor messages for lbry:// and edit them with open.lbry.io link

ideas:
If they post it in the channel#1213213/claim format - show links for both the channel and claim

The open.lbry.io entry takes either a claim, or a channel, not both (someone can confirm, but that's what I remember from trying it last time).  So sometimes the use

[2017-11-15 20:21] filipnyquist commented on #70
@tzarebczan @MSFTserver I have a working plugin for this, just need to make some small changes, i´ll get it added tonight after i´ve checked the other PRs

[2017-11-17 21:07] nikooo777 opened #90 "the bot crashes when a bot sends a message"
Whenever a bot sends a message, the bot itself crashes because it tires to access a property that doesn't exist when it's the bot itself writing the message.

[code]

should be changed to

[code]

[2017-11-17 21:20] MSFTserver commented on #90
what file is this?

[2017-11-17 21:23] MSFTserver commented on #90
cant seem to duplicate the bot crashing

[2017-11-17 21:25] filipnyquist commented on #90
@MSFTserver the spam checker, gets this error because of hasPerms being called before checking if its a bot, therefore if its a bot it crashed because a bot is not a member

[2017-11-17 21:31] MSFTserver commented on #90
oh maybe cause i had role BOTS added to has perms ;)

[2017-11-17 21:44] #90 closed

[2017-11-17 21:51] nikooo777 opened #92 "the code is hard to edit without getting conflicts"
People should be aware that we're using prettier to format the code now.

I am getting several conflicts every time i try to merge some changes, therefore the code should be cleaned and everyone else should run `yarn precommit` or equivalent before pushing code.

I suggest we don't accept pull requests that don't come in formatted

[2017-11-17 22:53] nikooo777 commented on #92
keeping this open for a while so that people can see it

[2017-11-18 03:49] MSFTserver commented on #92
ill start doing this now 👍

[2017-11-18 12:30] nikooo777 opened #95 "Content bot causes crashes"
A bug in the code is causing crashes in the bot.
Looking into it now
[code]

[2017-11-20 14:36] tzarebczan commented on #87
@MSFTserver Let me know when you'll have a chance to look into some of the bugs.

I can think of:
1) username not showing up properly - shows #s
2) when typing something like "you can post lbry:// links @MSFTserver" - it would try to create a link with your username

our chat log:
[10:57 PM] MSFTserver: just dont tag user with it
[10:59 PM] MSFTserver: i really dont think theres any way around thi

[2017-11-20 14:49] tzarebczan opened #97 "Content Bot - add channel to claim URL hyperlink name / URL"
If content is posted under a channel, it should show the URL as lbry://@jiggytom#232131231231231/claimname

actual example from recent content post:
lbry://@humblegoddess#7d00b2935e6f508bf5e2cbef609571f96495bedb/twitchstream91120171

[2017-11-20 14:49] tzarebczan opened #98 "Content Bot - show claim amount"
@nikooo777 Is it possible to show the claim amount on the bid?

[2017-11-20 15:00] nikooo777 commented on #87
suggestion: replace `#` with `%23`

result:

[code]

[2017-11-20 15:08] kauffj commented on #87
If it is breaking on pound, likely there are other URL characters will need
to be encoded as well.

On Mon, Nov 20, 2017 at 10:04 AM, Niko <notifications@github.com> wrote:

--

Jeremy Kauffman, CEO & Founder, LBRY <http://lbry.io/>
(267) 210-4292

Build LBRY: get <https://lbry.io/get>, follow <https://twitter.com/lbryio>,
like <https://facebook.com/lbryio>

[2017-11-20 15:11] MSFTserver commented on #87
@nikooo777 is that necessary cause it parses the links fine its just i message up tagging the user and the second thing i might need help on with username deal i might have an idea on how to fix it but its hard cause i have to find the tagged user or it returns it like how it has the numbers for username right now in the begging of the message

[2017-11-20 15:13] tzarebczan opened #99 "Claimbot - Show only Claims, Channels and updates"
Claimbot should only show any new claims/channels created as well as any updates to either.

current issues:
1) It's not showing new channels created (the old claimbot did)
2) It's showing claims that received supports/tips (see #content from 10:04 EST / 10:10 EST - support and then tip - unbubbled / unbubbled1-1 respectively)

[2017-11-20 15:18] MSFTserver commented on #87
i never noticed it breaking on pounds

[2017-11-20 15:19] MSFTserver commented on #87
ill look into it though, i think he means its showing the user id instead of username, that was my mistake i changed a parsing method for that

[2017-11-20 16:13] nikooo777 commented on #87
i'm not sure i understand the PR, can you explain the changes?

[2017-11-20 16:13] MSFTserver commented on #87
basically just changing to search for username tag in link instead of whole message

[2017-11-20 16:14] MSFTserver commented on #87
and filtering out if you just put lbry:// to do nothing

[2017-11-20 16:14] nikooo777 commented on #87
but the changes show this addition only:
[code]

[2017-11-20 16:15] MSFTserver commented on #87
yea i know im not sure how that happened

[2017-11-20 16:16] MSFTserver commented on #87
but if scroll down it used to be
[code]

[2017-11-20 16:16] MSFTserver commented on #87
not sure why it doesnt show that change

[2017-11-20 16:17] MSFTserver commented on #87
nvm it does show the change.... its in the first commit but doesnt show in the whole one

[2017-11-28 12:49] tzarebczan commented on #99
@nikooo777 did you get a chance to look into this?

[2017-11-28 13:05] nikooo777 commented on #99
thank you for pinging me, no i didn't. I'll make sure to do that ASAP

[2017-11-30 22:19] tzarebczan opened #102 "Update Role names in areas that check for role permissions"
I changed some of the role names a while ago so they need to be updated in the code.

For instance, if you do !welcome @user123556 it doesn't allow any mods to do so.

[2017-12-01 00:57] jsnfwlr opened #104 "Improve welcome message system"
Right now, blasting a new user with 5 messages as soon as they join seems to be something that would overwhelm most people.

It may be better to revise this down to one or two messages with better wording to reduce the wall of text they get, and then some interactive triggers (possibly via reaction to the initial welcome) that triggers further messages.

If we stop using the embedded messages and

[2017-12-03 21:49] nikooo777 commented on #98
it's most likely possible however it can't be done without calling an extra RPC method.
Is that really necessary and worth looking into?
unfortunately claims don't carry the amount property

[2017-12-03 22:14] nikooo777 commented on #95
fixed in my latest version. it's all about channel IDs

[2017-12-03 22:14] #95 closed

[2017-12-05 23:04] tzarebczan opened #106 "Figure out what's wrong with multiple tipbot accounts per Discord user"
@filipnyquist and @nikooo777 ran into this today. It was resolved on the accounts side, but the bug still remains in the tipbot.

[2017-12-12 16:54] tzarebczan opened #108 "recognize ! commands in line text"
We should be able to write something like
"Can you send me your !logfile ?" and it calls the command

[2017-12-13 00:25] tzarebczan opened #110 "Use explorer api for supply calls"
We should use this for LBC supply calls. Would it be possible to get it scheduled or not allow it to run the api each time stats is called?

https://explorer.lbry.io/api/v1/supply

[2017-12-13 00:45] MSFTserver commented on #110
its not even loading for me right now....

[2017-12-13 00:46] MSFTserver commented on #110
never mind it just takes like atleast a minute for the link to reply you sure you want that

[2017-12-13 00:47] tzarebczan commented on #110
Yea, that's why I don't want it run often.. A schedule would be best.

[2017-12-13 00:48] MSFTserver commented on #110
![image](https://user-images.githubusercontent.com/18357967/33916152-43094e5e-df5c-11e7-8165-9d6f2a456980.png)
this is awefully  long for an API to reply

[2017-12-13 00:49] MSFTserver commented on #110
yea i havent learned how to use cache in javascript yet so @filipnyquist or @nikooo777 would have to implement that

[2017-12-13 00:51] tzarebczan commented on #110
It runs a lbrycrd command which adds up all the unspent outputs to get the total supply.

[2017-12-13 00:56] MSFTserver commented on #110
well if its tied to lbrycrd isn't tipbot or claimbot where ever they run have that running we could transfer it there and use the same method but a lot faster not 1 minute response times like trying to call the endpoint

[2017-12-13 09:15] nikooo777 commented on #108
[this addresses it](https://github.com/nikooo777/lbry-wunderbot/commit/df8258ea7526d5911243f159b3a5183c6ee382cb)

[2017-12-13 12:25] MSFTserver commented on #108
shouldnt something like that be made in bot.js or one of the helpers so it can work for all commands?

[2017-12-13 12:42] nikooo777 commented on #108
I wouldn't want some commands to be triggered mid sentence i think.

My solution takes that into account. However if I'm going down this road i might actually think of porting over the config file in mongo so that we don't have to change the code every time we want to remove or add a command.

[2017-12-18 17:35] tzarebczan commented on #97
@nikooo777 is aware of this one and it requires some type of decoding of claim data.

From Jack:
jack [2:56 PM]
not without building lbryschema into lbrycrd to decode them
[2:56]
lbrycrd returns protobuf claims as some kind of escaped unicode (edited)
jack
[2:58 PM]
it probably wouldnt be terribly difficult to include lbryschema.go for decoding/validating them to json text (edited)

[2017-12-18 17:46] tzarebczan opened #113 "Tipbot does not reply to commands in DM"
When I message tipbot with !tip deposit or !tip help (From #bot-sandbox), I don't get a response. Another user complained about this as well.

Can someone take a look into this?

[2017-12-18 20:52] filipnyquist commented on #113
@nikooo777 could you take a look at this? you should have access to the server.

[2017-12-18 21:53] tzarebczan commented on #104
@MSFTserver  / @Coolguy3289 interested in working on this?

[2017-12-18 21:54] tzarebczan commented on #92
Does this affect code changes being pushed through github's web interface?

[2017-12-19 00:24] nikooo777 commented on #108
#116 is my solution
I also made it case insensitive

[2017-12-19 00:25] nikooo777 commented on #106
this is the wrong repo. there is an issue open for the right repo: https://github.com/lbryio/lbry-tipbot/issues/5
closing this

[2017-12-19 00:25] #106 closed

[2017-12-19 04:24] tzarebczan commented on #113
Issue moved to [lbryio/lbry-tipbot #6](https://github.com/lbryio/lbry-tipbot/issues/6) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-19 04:24] #113 closed

[2017-12-19 05:33] Coolguy3289 commented on #104
I will look into the concept of a bot seeing a reaction as an event. If that exists, it should make things much easier.

[2017-12-19 05:47] MSFTserver commented on #104
ot exists and since its going to be dm only kinda thing itll be really easy to detect what is emjoi is doubled up when they click one

[2017-12-19 06:08] Coolguy3289 commented on #104
Well yeah. I've just never looked into reaction events till now

[2017-12-19 23:59] MSFTserver opened #118 "some users causing bot to crash"
when some users use commands the bot trips out and crashes itself, so these users cant use commands

[code]
[code]

[2017-12-20 00:00] nikooo777 opened #119 "line length is too short"
The current line length set by prettier is 80 (as per default).
I believe we all have monitors wide enough to handle more than 80 chars.

To make the code more readable I'd suggest increasing the line length to 140. I tried this on a local branch and the code looks much cleaner without all those lines breaking every word.

Anyone against this? If you're in favor just thumbs up this message (let's

[2017-12-20 00:30] #108 closed

[2017-12-20 00:32] #68 closed

[2018-01-05 21:42] Coolguy3289 commented on #102
I don't know about the current config on the server. But the default config doesn't have the moderation roles. Will update it in the latest PR. This happens because the bot can only look for a Role by name, not a roleID, so it is a fluid search and can fail if the name changes.

[2018-01-05 21:44] Coolguy3289 commented on #92
That's how I run my PRs since I can't push from IntelliJ.

[2018-01-05 21:45] Coolguy3289 commented on #104
I am currently working on the reaction system. Will keep you guys posted as progress ensues.

[2018-01-08 14:53] tzarebczan opened #133 "Install analytics bot"
https://botlist.co/platforms/discord?category=analytics

We would like to have a bot that will tell us how many users are joining Discord, what channels they are active in, what the retention is like, etc. https://botlist.co/bots/statistics-bot from that list looks like it may be a step in the right direction.

There may be some other custom bots out there, haven't fully done the research.

[2018-01-08 14:56] tzarebczan opened #134 "Better Role organization, allow self assignment through bot"
Starting talking to MSFT about a server role re-design. Idea is to use roles more effectively and clean up the discord experience for new users. By default, users would have access to the main LBRY channels (general/help/verification) and then they would request roles (through the addroles bot) for things like mining, trading, nsfw. Probably have a "community" role too which just unlocks them all

[2018-01-08 22:50] MSFTserver commented on #134
yup I can start on that this week, was gonna work on it last time we discussed it but some family stuff came up

[2018-01-09 19:17] MSFTserver commented on #133
what about something like this found it on github
https://github.com/synzen/Discord.Stats

[2018-01-09 19:19] filipnyquist commented on #133
@MSFTserver something like that Will be added in dBot :)

[2018-01-12 23:59] vfioox commented on #119
Hello, on the new bot version the line length will be set to 120 characters!

[2018-01-15 10:20] filipnyquist commented on #119
@vfioox is correct! The new wunderbot Will have longer line length.

[2018-01-15 19:42] tzarebczan commented on #133
@filipnyquist / @nikooo777 / @MSFTserver -  can we get the statistics bot I originally linked installed (or the one @MSFTserver linked). We'd like to see what stats it provides and then can better plan for Filip's stats bot.

[2018-01-15 21:18] filipnyquist commented on #133
@tzarebczan this has now been added, just went to sleep and we should get the first results tomorrow!

[2018-01-17 23:10] Coolguy3289 commented on #134
All that should need done is to add the roles in the discord, then add the names to the wunderbot config

[2018-01-17 23:12] Coolguy3289 opened #139 "Role Feature Checks"
After some testing, and verifying latest version, I realised there are some checks that need to be added to the roles function of the bot.
Right now I need to add a check for:
1. If the role exists, and send a message saying it doesn't.
2. Check if the bot can even add the role (Heirarchy), and send a failed message if it can't

@filipnyquist Please assign me to this issue as I will work to fix th

[2018-01-17 23:30] Coolguy3289 commented on #102
I also think that the moderation section of the config needs updated to reflect the new role system implemented by Brazen

[2018-01-17 23:34] MSFTserver commented on #134
and messing with all permissions, reorganizing channels, this going to go along with the full server redesign

[2018-01-17 23:36] Coolguy3289 commented on #134
I wouldn't even go that far, but regardless, Either Brazen needs to work on this tightly with @MSFTserver, or @MSFTserver will need elevated permissions to get it done.

[2018-01-17 23:37] Coolguy3289 commented on #134
The nice thing about Discord is the categories, which can streamline most of the channels, minus a few exceptions.

[2018-01-18 18:04] Coolguy3289 commented on #92
I've run the precommit on Rolesetter, as of the last PR, that is now uniform with any other modules that have run Prettier.

[2018-01-18 19:26] Coolguy3289 opened #141 "Add modular welcome message"
I am currently working on adding the ability for the welcome function to send messages about LBRY based off of a reaction from the user it has sent a message to. I have gotten this to work in the `!welcome @user` command, however I can't seem to get the FirstJoin event to fire correctly because the function needs to be async to use the `await` function. Making Progress, but this is mostly to infor

[2018-02-13 20:46] tzarebczan opened #145 "Run bot stats commands in #Discord-Stats channel daily"
Would like to run the following commands daily at midnight EST in #Discord-Stats channel:
<>totalusers
<>activeusers
<>totalmessages
<>messagemin

[2018-02-13 20:48] kauffj commented on #145
Should this be synced to metabase as well?

[2018-02-13 20:49] filipnyquist commented on #145
@kauffj this data is avaible in a mysql database FYI

[2018-02-13 20:50] tzarebczan commented on #145
@filipnyquist Can we get the role bot on the wunderbot server?  Then we can setup access to the mysql database.

I'm still looking forward to your new bot and maybe a stats module when the time comes :)

[2018-02-13 20:52] filipnyquist commented on #145
@tzarebczan i´ll move over the bot to the wunderbot server, want mysql db to be there or any other place? Yes, i also look forward to it, home the whole next week so great things to come ;)

[2018-02-20 17:57] MSFTserver commented on #118
[code]

[2018-02-20 17:57] MSFTserver commented on #118
possible fix

[2018-02-20 17:59] nikooo777 commented on #118
can you try to include it? Sounds like a clean workaround!

[2018-02-21 00:37] MSFTserver commented on #118
yea I'll see about adding that

[2018-03-06 15:41] nikooo777 commented on #145
what's the progress on this?
Should I take a look myself?

[2018-03-12 02:20] tzarebczan commented on #145
We added the SQL database to metabase, so we have the data available. A single dashboard was created, we'll look into more.

I don't think we need to run this is in Discord anymore since we have the data available.

[2018-03-12 02:20] #145 closed

[2018-03-14 22:51] Coolguy3289 commented on #102
Fixed in: https://github.com/lbryio/lbry-wunderbot/pull/148

[2018-03-28 15:38] tzarebczan opened #150 "Claimbot - don't show thumbnail/images for NSFW content"
Recently a claim showed up in the #content channel which had an NSFW thumbnail. In that case, the claim wasn't marked as NSFW, but this brings up a good point - we should not show thumbnails for claims marked NSFW.

[2018-03-28 15:55] tzarebczan commented on #87
Closing this since it's implemented.

[2018-03-28 15:56] tzarebczan commented on #70
@filipnyquist can you look to see what happened with the irc bridge? I think it went down a while ago.

[2018-03-28 16:08] filipnyquist commented on #70
I´ll take a look right now!

[2018-03-28 16:24] Coolguy3289 commented on #118
Fixed in #149

[2018-03-28 16:51] Coolguy3289 commented on #134
# List of possible Roles in the discord:
* LBRY Team
* LBRY Design Team
* Senior Assistant
* Assistant
* Junior Assistant
* Volunteer Assistant
* LBRY Assistant
The Above would be able to see into All channels that exist except for obvious appropriate ones (E.g TeamChat).
* LBRY F&F
* Moderator Team
* Support Team
* Community Dev Team
* Contest Judge (Can be removed imo)
* LBRY Early Tester
* Boun

[2018-03-28 17:03] Coolguy3289 commented on #102
@filipnyquist Please Merge and Close the PR associated with this issue and close this issue after

[2018-03-28 17:03] Coolguy3289 commented on #104
#141 is my current hangup

[2018-03-28 21:36] nikooo777 commented on #150
this should be an easy change.

[2018-03-28 22:18] nikooo777 commented on #150
you almost got me there. I checked and I indeed had implemented that already. https://github.com/lbryio/lbry-wunderbot/blob/master/bot/modules/claimbot.js#L252

is that not working?

[2018-03-28 22:20] #118 closed

[2018-03-28 22:29] tzarebczan commented on #150
Didn't know it was implemented, cool! The recent example was not marked
properly.

On Wed, Mar 28, 2018, 6:18 PM Niko <notifications@github.com> wrote:

[2018-03-30 04:29] Smurphonomics commented on #134
While most names are suffice, I feel **Junior Assistant** should be changed. Maybe **Trainee Assistant**?

Some Junior Assistant are 30+ in age.

[2018-03-30 06:30] filipnyquist commented on #134
A rework of the assistant roles is on the way

On Fri, Mar 30, 2018, 6:29 AM Smurphonomics <notifications@github.com>
wrote:

[2018-03-30 07:43] Invariant-Change opened #152 "Use Channel Name for Author"
Instead of calling the `author `of all spee.ch files `Spee.ch` use the `Channel Name`

![image](https://user-images.githubusercontent.com/29914179/38129240-90f3b638-3441-11e8-9ef0-bd106173207f.png)

[2018-03-30 14:11] Coolguy3289 commented on #102
This can be closed now

[2018-03-30 14:15] #102 closed

[2018-03-30 18:40] tzarebczan commented on #134
@Coolguy3289 I also like your idea about having a new member channel - I think this is how r/cryptocurrency Discord was setup  - the users had to agree to something before continuing. But in that case it was a private channel for the user as opposed to a public one which it sounds like you are proposing.  Can you take a look into the private option and see how r/cryptocurrency (https://discord.gg/

[2018-03-30 21:10] Coolguy3289 commented on #139
#153 Addresses this in a way as well @nikooo777 @filipnyquist Please merge that and close this

[2018-03-30 21:13] Coolguy3289 commented on #134
#153 Has added these features into the bot.

[2018-03-30 21:14] Coolguy3289 commented on #70
What ever happened with this?

[2018-03-30 21:14] Coolguy3289 commented on #119
New length has been addressed in #151

[2018-03-30 21:30] Coolguy3289 opened #154 "Prettier Cross-Platform Compatibility"
When running Pre-Commit on Windows, the RegEx isn't supported. See stack Trace Below:
[code]

[2018-03-30 21:39] #119 closed

[2018-03-30 21:39] #139 closed

[2018-03-30 22:04] #92 closed

[2018-03-31 21:46] MSFTserver commented on #154
found this
![image](https://user-images.githubusercontent.com/18357967/38167850-59a7494a-34f2-11e8-8e22-17feafc6efe9.png)

[2018-03-31 22:00] MSFTserver commented on #154
fixed in Pr: https://github.com/lbryio/lbry-wunderbot/pull/155

[2018-03-31 22:22] #154 closed

[2018-03-31 23:47] Coolguy3289 commented on #134
I looked at the CryptoCurrency discord, they just have a 5 min. Wait before being able do to anything, rather than physically agreeing to something via chat.

[2018-04-03 04:06] tzarebczan commented on #152
Related to https://github.com/lbryio/lbry-wunderbot/issues/97 - we don't currently have the channel information available on the content bot - it needs to be decoded from the claim information.

[2018-04-04 22:55] tzarebczan commented on #134
So this is the plan:
#welcome-to-lbry channel will have welcome messages and instructions on how to self assign roles. Users without a role will have access to #welcome-to-lbry, #role-assign, Information & Updates and Support categories. Other areas/channels will have access based on self assigned roles. All the self assigned roles will be the same color (yellow?).

New roles to be created and the

[2018-04-05 00:42] Coolguy3289 commented on #134
The preliminary setup for this change has been completed. All Categories have the necessary roles in place.

[2018-04-05 00:45] Coolguy3289 commented on #134
I will start adjusting the config for the wunderbot

[2018-04-05 00:46] Coolguy3289 opened #158 "Add New Moderation Roles"
Since the new change over to the `Trusted LBRYian` roles, the config on wunderbot needs updated.

[2018-04-05 18:16] Coolguy3289 commented on #158
Updated in Production.

[2018-04-05 18:31] Coolguy3289 commented on #134
#159 Updated the roles in the default config. Adjusting Production config to match.

[2018-04-05 18:34] Coolguy3289 commented on #98
@tzarebczan Is this still something that you want looked into? Just cleaning up issues that have been opened for a while.

[2018-04-05 18:35] Coolguy3289 commented on #110
@tzarebczan Is this still something that is being pursued? Does anyone have an answer to @MSFTserver's question?

[2018-04-05 18:37] Coolguy3289 commented on #150
Closing this issue, as it seems to be resolved.

[2018-04-05 18:37] #150 closed

[2018-04-05 18:39] Coolguy3289 opened #160 "Allow Any Case with roles"
Currently, you have to match the case of the role in the config exactly, else the command fails as it doesn't find the role. I'd like to implement a way for the bot to recognize the roles no matter the case of the letters.

[2018-04-05 18:43] Coolguy3289 commented on #104
Another thing to consider, the Emojis to be used are fairly standard. So it has to be decided out of the default emojis that come with discord, which ones associate with it's intended message. @tzarebczan Can you compile a list of Discord standard emoji's that you want associated with each message so that I have some realistic emoji's to work with?

[2018-04-05 20:29] nikooo777 commented on #160
check this out: https://github.com/lbryio/lbry-wunderbot/blob/master/bot/modules/commandsV2.js#L39

[2018-04-06 16:51] tzarebczan commented on #134
@jsigwart suggested to have an international role which would give access to international channels.

It just occurred to me it might be a good idea to have a dev role too, what do you guys think?

[2018-04-06 20:11] jsigwart commented on #134
Absolutely! I think that's a great idea. I think that would help keep the support requests out of the dev channels.

[2018-04-13 12:05] tzarebczan opened #162 "welcome command fails to send, wunderbot errors"
Not sure if the message was sent or not (probably not):

jiggytom: !welcome @Zain welcome! Please read through the DMs from wunderbot.
[11:06 PM] BOTWunderbot: command welcome failed :(
TypeError: Cannot read property 'send' of undefined
    at Object.process (/home/lbry/lbry-wunder/bot/modules/welcome.js:126:33)
    at checkMessageForCommand (/home/lbry/lbry-wunder/bot/bot.js:170:13)
    at Clien

[2018-04-16 18:57] tzarebczan commented on #141
Do we still want to do this with the role re-org/ welcome channel? My guess is no, unless you are really close to a solution.

[2018-04-16 19:34] Coolguy3289 commented on #141
I'm not. Electron was going to take a look into it, but hasn't got back to me. I'd say we can table the Welcome Message function for now.

[2018-04-16 19:35] Coolguy3289 commented on #162
This may have something to do with the user being set to "Show as Offline" or "Invisible", that causes issues with most bots on Discords. Or they are ignoring DMs from their servers.

[2018-04-17 14:39] tzarebczan commented on #134
Other new roles:
Developer -> access to #dev, #dev-random, #dev-ux, #design in Contributing category
International -> access to International (new category with #en-francais)

I've moved Ideas/Feedback to Support

@julie are you okay with this? Should we shift anything else around?

[2018-04-17 14:45] tzarebczan commented on #110
Now that CMC is using that endpoint, we don't need to do this anymore.

[2018-04-17 14:45] #110 closed

[2018-04-17 14:51] tzarebczan commented on #98
@Coolguy3289 yes, but it sounds like it would require some claim decoding that's not being done currently.

[2018-04-17 17:49] Coolguy3289 commented on #134
I've moved #en-francais to the new International Category. Created the Dev and International roles, and changed the access roles on Contributing to LBRY to accurately reflect the new changes.

[2018-04-18 15:28] tzarebczan commented on #141
We don't need the bot messaging to work on the join event anymore since we'll have the message posted in #welcome-to-lbry . I'm not sure how/where we want to re-introduce the bot messaging system yet ...maybe we can have an alias for welcome that the user can run themselves to interact with the bot..i.e. !learnmore or something.

[2018-04-18 16:43] Coolguy3289 commented on #141
Closing till Further notice.

[2018-04-18 16:43] #141 closed

[2018-04-18 16:43] Coolguy3289 commented on #104
Closed until further notice.

[2018-04-18 16:43] #104 closed

[2018-04-23 20:02] Coolguy3289 commented on #134
This is now live. Can this issue be closed @tzarebczan ?

[2018-04-23 20:14] tzarebczan commented on #134
Yup, thanks!

[2018-04-23 20:14] #134 closed

[2018-04-23 20:37] Coolguy3289 commented on #160
I'll look into it. I also need to add the ability to add All roles, so maybe have aliases with the roles in the config and if more than one role has the same alias, it adds them all.

[2018-04-23 21:34] tzarebczan opened #165 "Allow assignment of LBRYian role"
Currently, you only get the LBRYian role if you self assign one of the other roles. This role should also be allowed to self assign. I can so someone wanted to be part of the community category without assigning of of the current roles.

[2018-04-29 23:06] tzarebczan opened #166 "LBRY URL linker should clean up URLs"
URLS are only allowed to have characters, numbers and - , see https://github.com/lbryio/lbryschema/blob/master/docs/uri.md. If someone posts a URL with bad characters or an exclamation point at the end, it will error out in the app (yes, this needs to be fixed on the app side)

[2018-04-30 05:01] MSFTserver commented on #166
should be simple enough to add a regex for that

[2018-05-17 13:42] ykris45 opened #167 "Channnel ID must be updated on Welcome.Js"
Several Random User receive message for enable Direct Message . and I saw 2 invalid channel on the message. im sure it should replace with #bot-sandbox and #welcome-to-lbry channel. to make this message Perfect.
![screenshot_2018-05-17-20-36-50-733](https://user-images.githubusercontent.com/26609573/40181178-ad637f46-5a12-11e8-8687-fe7ae52fc281.jpeg)
i think welcome.js on line 24 must be updated w

[2018-05-17 23:26] #99 closed

[2018-05-17 23:27] nikooo777 commented on #98
this could become much easier with chainquery!

[2018-05-18 01:24] btzr-io opened #169 "CoinMarketCap API (V2)"
Please modify your application to use Version 2 prior to shutdown.

[2018-05-22 20:53] filipnyquist opened #173 "Wunderbot ignoring commands from some people."
Right now wunderbot seems to ignore commands from random people. This needs to get checked more.
Making this issue so we can get to the bottom of this.

[2018-05-25 04:00] Coolguy3289 commented on #173
This seems to be partially caused by an update to Node on the server box

[2018-05-25 10:03] nikooo777 commented on #173
i'd call it more a "lack" of correctness in code. Undeclared vars shouldn't be used.
let's try to address this without downgrading node

[2018-05-25 10:14] filipnyquist commented on #173
Correct, i'll get them patched asap when i get home

[2018-05-31 16:56] ykris45 opened #179 "!stats and !hash commands not working on LBRY Discord Server"
please see #market-and-trading channel
julie and btzr trying to input key !stats but not working
![image](https://user-images.githubusercontent.com/26609573/40796017-edfeb2a2-652d-11e8-9d21-8f66d1c62b16.png)
on #mining the code !hash working but i saw error code like this screenshot
![image](https://user-images.githubusercontent.com/26609573/40796036-f804bc74-652d-11e8-8e8c-c1b759e94900.png)

[2018-05-31 19:52] ykris45 opened #180 "LBRY Linker not working"
if user type lbry://testing on lbry discord server its must be reply with open.lbry.io/testing . but not working on #bot-sandbox channel

[2018-06-07 12:30] ICTman1076 commented on #167
Perhaps issue should be closed now, if there aren't any further problems?

[2018-06-08 15:26] ykris45 commented on #169
@btzr-io closed from #177

[2018-06-08 15:28] #167 closed

[2018-06-08 15:49] #169 closed

[2018-06-08 15:49] filipnyquist commented on #180
Fixed!

[2018-06-08 15:49] #180 closed

[2018-06-08 15:49] filipnyquist commented on #179
Both are now working!

[2018-06-08 15:49] #179 closed

[2018-06-08 15:50] filipnyquist commented on #173
This has now been fixed!

[2018-06-08 15:50] #173 closed

[2018-06-20 18:36] ykris45 opened #190 "Feature Request : Integrate Chainquery to Wunderbot"
LBRY now have chainquery technology. and it means will improve LBRY to the next generation of content sharing platform. would be nice if this feature will be integrated to wunderbot by type commands !chainquery <channel name> . this is my ideas and i hope wunderbot have this feature to make community happiness . thanks

[2018-06-20 21:38] tzarebczan commented on #190
Great idea :)
We could do something like !topbid one

or !communitybids to list all of em

or !topbids to list top 10 claims

or !topchannels to list top 10 channels

[2018-06-20 21:41] filipnyquist commented on #190
I was actually planning to integrate it in the upcoming version of
wunderbot! Great idea!

[2018-06-26 03:12] tzarebczan opened #192 "Content bot - add claim id to content URL"
The current content URL doesn't have the claim ID, so it may open to the vanity claim and not the claim that was posted.

[2018-06-28 12:31] filipnyquist commented on #190
@tiger5226 i think some queries for showing top channels and claims could be a good way to start this, chainquery in wunderbot would show the whole community the power of it!

[2018-06-28 12:38] filipnyquist commented on #162
This was fixed in #181

[2018-06-28 12:38] #162 closed

[2018-06-28 12:50] #166 closed

[2018-06-28 12:52] filipnyquist commented on #97
I have a feeling chainquery could work some magic for the claimbot @tiger5226

[2018-06-30 00:13] tiger5226 commented on #97
yeah [chainquery](https://github.com/lbryio/chainquery) can provide the decoded json data of a claim or channel. For example [@fillerino](https://chainquery.lbry.io/api/sql?query=SELECT%20name,%20claim_id,%20value_as_json%20FROM%20claim%20WHERE%20name%20=%20%22@fillerino%22)

[2018-07-11 15:00] filipnyquist opened #199 "Redo/cleanup source code, upgrade discord.js"
Discord.js now recommends using discord.js-commando for modules/plugins:
* We should integrate it asap, move over the plugins to the new format introduced with commando.
* Better code quality checking/linting needs to be added so we keep the same format for all plugins.

[2018-07-17 04:25] tzarebczan opened #202 "Linker removes - from URL"
Looks like `-` is removed from linked URLS:

THX1342 - Yesterday at 11:15 PM
I put a claim higher than the existing (0,01) for lbry://minecraft-in-real-life-the-flash. Why is my content not appearing there (yes... I'm running tests to try and understand how LBRY works)
LBRY WunderbotBOT - Yesterday at 11:15 PM

LBRY Linker
I see you tried to post a LBRY URL, here's a friendly hyperlink to share an

[2018-07-17 09:33] filipnyquist commented on #202
As a quick fix, I´ll add the lbrylinker code from the new wunderbot, which handles this better and cleaner.

[2018-07-17 09:43] filipnyquist commented on #202
Solved in #203

[2018-07-17 09:43] #202 closed

[2018-07-17 13:28] filipnyquist opened #204 "Add a basic webinterface [v2]"
As a moderator/lbry helper,
I would like to be able to control the new wunderbot(coming with #199) and change the messages and/or custom commands from a simple webinterface instead of making a change to the github repo every time it needs updating.

The basic version would contain:
* A discord login system
* A page to control the custom messages.
* Other basic settings for the guild should be in i

[2018-07-17 16:00] filipnyquist commented on #192
This will be fixed in the new wunderbot, which integrates chainquery instead of the decoder, which allows us to get this data on the fly.

[2018-07-18 13:43] filipnyquist commented on #199
Most of the code is done and in the wunderbot-v2 branch, it is not ready for production yet as it´s missing:
* A working webinterface to change important settings
* The claimbot implented with chainquery instead of lbrycrd and the decoder.
* Documentation and README

These will be split up into different issues and added to the next sprint.

[2018-07-18 13:43] #199 closed

[2018-07-18 13:47] filipnyquist opened #205 "Add the claimbot with chainquery integration [v2]"
Right now we use lbrycrd and the decoder for the claimbot which handles all the new claims. The decoder and lbrycrd uses a lot of extra power, and now with chainquery we can use it instead to give us all the new claims and push them to discord.

This is good because:
* No need for lbrycrd and the decoder which allows us to free some CPU/RAM usage on the server.
* Chainquery is amazing and decodes

[2018-07-18 13:51] filipnyquist opened #206 "Add basic moderation commands [v2]"
AS A DISCORD MODERATOR I WOULD LIKE TO,
be able to purge chat/specific users, temp ban and ban users without the need of going into the discord server settings every time I want to do any of these.

The basic commands would be:
* Tempban - temporary ban a user for a set time.
* ban - ban a user from the server permanently
* purge - purge messages in a channel or for a specific user.
All of the com

[2018-07-18 13:52] filipnyquist commented on #192
I´ll take a look and see if I can get a fix going for it with the current version in this upcoming sprint.

[2018-07-19 13:56] #192 closed

[2018-07-24 09:49] #206 closed

[2018-07-24 09:51] filipnyquist commented on #204
This will be moved into a simple file that we can push to github, as the old bot, therefore this will be a seperate issue.

[2018-07-24 09:51] #204 closed

[2018-07-30 13:09] #160 closed

[2018-08-15 12:06] filipnyquist commented on #152
This can be added when chainquery gets added to the bot!

[2018-08-15 12:07] filipnyquist commented on #98
Can be added when chainquery gets integrated!

[2018-08-15 12:13] filipnyquist commented on #70
We have had a few requests to get this added again, therefore i'll add this under this sprint.

[2018-08-20 11:02] filipnyquist commented on #97
@tzarebczan The example you posted doesn't work, it just redirects me to the channel. Is this correct?

[2018-08-21 10:46] #190 closed

[2018-08-21 10:53] filipnyquist commented on #152
Fixed in #210

[2018-08-21 10:53] #152 closed

[2018-08-21 10:53] filipnyquist commented on #97
Fixed in #210

[2018-08-21 10:53] #97 closed

[2018-08-21 11:03] filipnyquist commented on #70
Found the problem with the old IRC integration, as we are using Amazon I needed to tell Freenode that we are a legit client by using SASL. This bridge is now online in #shared on discord and #lbry on freenode.

[2018-08-21 11:03] #70 closed

[2018-08-22 11:31] #98 closed

[2018-08-22 16:28] tzarebczan opened #212 "claim bot issues - takeover time support"
1) Rename author to channel, make @channel clickable via open.lbry.io
2) Check bid amount - support bids less than 2 decimals, see below
3) Estimated takeover block used to show for vanity URL takeovers - do we have this data from chainquery?

[code]
### Acceptance Criteria
1.
2.
3.

### Definition of Done
- [ ]  Tested against acceptance criteria
- [ ] Tested against the assumptions of the user s

[2018-08-22 16:32] filipnyquist commented on #212
Discord embeds does not allow links in the embed so can´t link the channel, we have the takeover added, i can add the takeover block as a field if wanted. bid amount is easily fixed.

[2018-08-22 16:35] filipnyquist commented on #212
The takeover block will be showed with an approx time if the takeover block is not the same as the current block.

[2018-09-18 13:39] tzarebczan commented on #212
I dont' think the takeover time is showing...see below for a claim on lbry://five (I'd assume it wouldn't take the channel into account)

![image](https://user-images.githubusercontent.com/8120721/45691471-bd119e80-bb26-11e8-8cc3-fe3724ae1591.png)

[2018-09-19 01:49] 42degrees opened #217 "Putting an lbry URL in your message in back ticks causes the wunderbot to generate bad URLs"
If you type a message such as:

_An example is \`lbry://ten\` or \`lbry://eight\`._

This results in Wunderbot generating urls like:

https://open.lbry.io/ten%60
and
https://open.lbry.io/eight%60

I think it would probably be better for it to completely ignore these instead.

[2018-09-19 01:50] 42degrees commented on #217
![image](https://user-images.githubusercontent.com/1676142/45726346-0e984880-bb7c-11e8-9498-7fd238ee4dc9.png)
An example screen shot.

[2018-09-20 13:45] nikooo777 commented on #217
a solution could be to use a regex to grab the whole valid name.

[2018-09-20 16:52] MSFTserver commented on #217
@nikooo777 line 17 in lbrylink
new regex will exclude ending ` id also add other chars you know wont work
[code]

_Sent from my Galaxy Note5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2018-09-20 17:46] nikooo777 commented on #217
rather than being exclusive it should probably be inclusive of all the accepted chars. because i could be adding another random char that isn't valid and you'd have the same problem I think.
http://beta.lbry.tech/resources/uri

[2018-09-23 07:55] 42degrees commented on #217
I'm haven't been using Discord very long, but I had been given the impression that the way to keep Discord from processing something was to surround it with backticks.  Is that not also true for the bots?

[2018-09-23 15:42] MSFTserver commented on #217
backticks just create code blocks

[2018-09-23 15:44] MSFTserver commented on #217
putting links inside angle brackets prevents discord from displaying meta data thats all i know so like <https://lbry.io> wouldnt show meta data at end of the message thats the only way i know of any discord ingoring

[2018-09-24 01:44] 42degrees commented on #217
@MSFTserver Thanks, I didn't know that.  I'll do that from now on.

[2018-11-02 14:19] Invariant-Change opened #223 "Wunderbot URL Confusion"
Wonderbot gets confused when 2 URL's are added when on is a LBRY URL and one isn't.

![image](https://user-images.githubusercontent.com/29914179/47920553-0adb3e00-defe-11e8-9595-2eb0278d34d8.png)

[2018-12-06 12:33] nikooo777 commented on #165
Is this still relevant? I am not sure I understand it right, do we want it to be so that all new users are automatically assigned that role?

[2018-12-06 13:02] nikooo777 commented on #223
this issue is related to https://github.com/lbryio/lbry-wunderbot/issues/217 (bad parsing of the URL). I'll tackle that soon.

[2018-12-09 17:46] Coolguy3289 commented on #165
I understand the issue. Tom wants it so that you can JUST add the LBRYian role by itself, without basically being forced to add another role. It's an easy addition, and I can tackle it in a few minutes worth of work.

[2018-12-17 13:38] #165 closed

[2018-12-17 13:38] nikooo777 commented on #165
thanks you for tackling this

[2018-12-19 16:33] #223 closed

[2018-12-19 16:34] nikooo777 commented on #217
fixed

[2018-12-19 16:34] #217 closed

[2019-01-19 17:40] zxawry opened #228 "Wunderbot error on !addrole and !delrole in DM"
Wunderbot throws this error when !addrole or !delrole are used in DM:

![20190119_201653](https://user-images.githubusercontent.com/15372952/51430307-49d18380-1c11-11e9-94b9-5acf381349df.png)

`msg` does not have `guild` property if it's issued from DM.
https://github.com/lbryio/lbry-wunderbot/blob/101ccf10a7e2eca90e7ee053cef779650ef15711/bot/modules/rolesetter.js#L17-L18

[2019-01-19 18:18] tzarebczan commented on #228
Thanks for filing!!

[2019-02-06 14:42] alyssaoc commented on #212
closing for now, reopen in needed

[2019-02-06 14:42] #212 closed

[2019-02-07 18:54] Owned67 opened #229 "Error: Configuration property "bot" is not defined"
npm -v
6.7.0
node -v
v8.9.4
`nomades-bot\node_modules\config\lib\config.js:203
    throw new Error('Configuration property "' + property + '" is not defined');
Error: Configuration property "bot" is not defined
    at Config.get (C:\Users\Alpha\BotDiscord\nomades-bot\node_modules\config\lib\config.js:203:11)
    at Object.<anonymous> (C:\Users\Alpha\BotDiscord\nomades-bot\bot\bot.js:7:17)
    at M

[2019-02-07 19:00] tzarebczan commented on #229
Hey, thanks for opening this issue. Can you give us more information on when you see this? What steps have you taken? Have you followed https://github.com/lbryio/lbry-wunderbot#installation ?

[2019-02-07 19:06] Owned67 commented on #229
npm install --production

C:\Users\Alpha\BotDiscord\nomades-bot\node_modules\sleep>if not defined npm_config_node_gyp (node "C:\Users\Alpha\AppData\Roaming\npm\node_modules\npm\node_modules\npm-lifecycle\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild )  else (node "C:\Users\Alpha\AppData\Roaming\npm\node_modules\npm\node_modules\node-gyp\bin\node-gyp.js" rebuild )
gyp ERR! conf

[2019-02-07 19:08] filipnyquist commented on #229
Hi!
Seems you are missing some build tools needed for sleep to build. Try
installing https://www.npmjs.com/package/windows-build-tools

[2019-02-07 19:15] Owned67 commented on #229
Thanks but i don't want python 2.x.... i have python 3.x... so close

[2019-02-07 19:39] Owned67 commented on #229
Its same...

Status from the installers:
---------- Visual Studio Build Tools ----------
Successfully installed Visual Studio Build Tools.
------------------- Python --------------------
Successfully installed Python 2.7

Now configuring the Visual Studio Build Tools and Python...

All done!

+ windows-build-tools@5.1.0
updated 1 package in 147.919s

node bot/bot
WARNING: No configurations found i

[2019-02-07 21:04] Coolguy3289 commented on #229
Please ensure that all fields in the default.json are filled, including the Discord Bot Token (Required). Modules like claimbot, etc. require configuration values as well, so if you don't plan on using them, be sure to remove those functions from bot.js (Just look for the initialization code). If you can't find it, let me know and I'll help you find what I'm talking about!

[2019-02-07 21:06] Coolguy3289 commented on #228
This error is intentional, as the bot can be in multiple discord servers and won't be able to differentiate which server you may be trying to add a role to. Without another optional argument to dictate the guild you are talking about, this isn't something to "fix", rather than another feature.

[2019-02-07 21:51] MSFTserver commented on #228
@coolguy3289 just add
 `let inPrivate = require('../helpers.js').inPrivate;`
and
[code]

[2019-02-07 22:20] Owned67 commented on #229
Ive disabled claimbot but { ConfigurationError: Missing configuration field discordToken
    at Bot.REQUIRED_FIELDS.forEach.field (C:\Users\Alpha\BotDiscord\nomades-bot\node_modules\discord-irc\dist\bot.js:45:15)
    at Array.forEach (<anonymous>)
    at new Bot (C:\Users\Alpha\BotDiscord\nomades-bot\node_modules\discord-irc\dist\bot.js:43:21)
    at configFile.forEach.config (C:\Users\Alpha\BotDi

[2019-02-13 17:36] nikooo777 commented on #229
check `C:\Users\Alpha\BotDiscord\nomades-bot\bot\modules\ircbridge.js` at line 7,
it's looking for that token.

[2019-02-13 17:38] nikooo777 commented on #228
@Coolguy3289 wanna tackle this?

[2019-02-13 19:45] Owned67 commented on #229
Thanks

[2019-02-13 19:45] #229 closed

[2019-02-18 15:19] nikooo777 opened #231 "Wunderbot crash"
[code]

this is a crash that keeps killing wunderbot.

[2019-02-27 14:40] #228 closed

[2019-03-18 22:45] binaryflesh opened #232 "Add a Testnet faucet command"
As a curious end user, I think it would be very convenient if there was functionality to request testnet credits every 24 hours. I think a gentle reminder after a week to send back the credits would be a engaging and fun way to encourage more lbrycrdd users.

[2019-03-19 13:14] tzarebczan commented on #232
@binaryflesh, thanks for opening this. We have a developer program at LBRY.tech which offers free LBC to active GitHub members.

We also have a way to setup your own local LBRY network to control/spend/reset as you like in regnet mode - https://lbry.tech/resources/regtest-setup (needs updating though!!)

I think either of those are better than the testnet scenario. @nikooo777 thoughts?

[2019-03-19 15:16] binaryflesh commented on #232
I opened [lbry.tech#268](https://github.com/lbryio/lbry.tech/issues/268) and [lbrycrd#261](https://github.com/lbryio/lbrycrd/issues/261). I was unaware of how -Regtest was supposed to be used with `lbrycrdd` and how it compared to using testnet. Closing this one out

[2019-03-19 15:16] #232 closed

[2019-03-20 00:01] #231 closed

[2019-06-17 19:25] tzarebczan opened #239 "hashrate not showing correctly"
it may be because of some number overflow due to the large diff?
[code]

[2019-06-20 20:35] Coolguy3289 commented on #239
The hashrate is reflected correctly as shown here:
https://explorer.lbry.com/api/v1/status
Something is causing the explorer API to not reflect the hashrate

[2019-06-21 12:18] #239 closed

[2019-06-27 13:53] jessopb opened #245 "Start with !why"
It seems a lot of questions and comments start from poor assumptions about why LBRY is a good choice.

a !why should be the best response to some people.

[2019-08-01 05:06] kodxana opened #249 "Multi language welcome message"
I think with Discord api we might be able to have welcome message get send to user in language used by user.
https://discordapp.com/developers/docs/resources/user#usernames-and-nicknames

Example:
[code]

[2019-08-02 19:26] nikooo777 commented on #249
thank you for opening this issue.
I support the community writing this feature, it could be an interesting addition if it's just for the welcome message :)

[2019-08-20 19:32] danger89 opened #250 "Obsolete API"
Keep in mind the following CoinMarketCap API is obsolete and needs to be replaced asap.
https://github.com/lbryio/lbry-wunderbot/blob/master/bot/modules/stats.js#L11

Regards,
Melroy

[2019-08-20 19:33] danger89 commented on #250
Ps. also with the basic (free) plan of CoinMarketCap with the new API you don't get OHLCV data :-1:

[2019-08-22 14:25] tzarebczan opened #251 "Support release notes for Android"
We currently use the !releasenotes post command to grab lbry-desktop release notes. We should add the desktop/android option to this and post Android as well.

[2019-08-22 14:26] tzarebczan commented on #250
Thanks for opening the issue @danger89 . Would you be interested in making the change? We can help get the api key for us if needed.

[2019-08-23 02:01] tmlee commented on #250
Hi guys, i would suggest that you take a look at the CoinGecko API over at https://www.coingecko.com/api

No keys required and we may have some data points that you are looking for. Happy to answer any questions you may have!

[2019-08-29 23:35] danger89 opened #255 "Include fee costs"
Hi,

I think it's better to include the fee costs when giving somebody a tip with the bot.

Currently, when yiu got tipped by 50 lbc, you actually receive 49,99743 lbc because of the fee costs that get subtracted.

My proposal would be to include it upfront, so the person who receives the fee actually get 50 lbc in this example. Simular to the lbry app.

Thanks!

Regards,
Melroy van den Berg

[2019-09-06 20:14] tzarebczan commented on #255
Whoops, not sure why I closed this. We actually do cover the fees, but when you withdraw your entire balance, it goes into the negative, which then becomes an issue when you receive a some more.

I'd say we should prevent the balances from going below zero, and we should be fine.

This whole process will need to be re-written since it currently uses the accounts feature of Bitcoin that's been rece

[2019-09-16 12:48] nikooo777 commented on #250
We could replace it with coingecko as suggested, here is the endpoint we'd want to use:
https://api.coingecko.com/api/v3/coins/lbry-credits?localization=false&tickers=false&market_data=true&community_data=false&developer_data=false&sparkline=false

[2019-09-16 13:41] danger89 commented on #250
See example in the LBRY Telegram bot:
https://gitlab.melroy.org/melroy/lbry-bot/blob/master/src/exchange.js

[2019-10-05 23:08] danger89 commented on #250
@tzarebczan
Its October. So I will pick this up! Could you add `hacktoberfest` label?

[2019-10-06 00:53] Coolguy3289 commented on #250
Would you be converting to CoinGecko? Or updating new coincapmarket?

[2019-10-06 00:55] Coolguy3289 commented on #245
@jessopb If you write up a quick blurb for the command, I'll toss that into the code!

[2019-10-06 00:57] Coolguy3289 commented on #255
This should be moved to the tipbot repo. Closing for now, but agree with the issue as a whole.

[2019-10-06 00:57] #255 closed

[2019-10-06 01:36] felhe commented on #251
Currently working on this!

[2019-10-06 01:38] danger89 commented on #255
Owh, do you open a new Issue or?

[2019-10-06 01:38] danger89 commented on #250
CoinGecko is fine by me :)

[2019-10-07 02:20] Coolguy3289 commented on #250
Niko already gave the greenlight on the API move. So it's all yours :)

[2019-10-07 13:41] nikooo777 opened #261 "Get rid of all the "vars" in the code"
This codebase has seen contributions from a lot of people.
As a consequence it's not very clean and doesn't often follow the right standards.
A good first issue would be to go through the code and get rid of all the `var` declarations.

Read about `var` vs `let` here:
https://codeburst.io/difference-between-let-and-var-in-javascript-537410b2d707

This is obviously not just a search and replace tas

[2019-10-07 15:03] #251 closed

[2019-10-07 15:53] nikooo777 commented on #261
Alright I transferred the issue, this one is definitely valid for this repo (tipbot used to be part of wunderbot in the past).
If you're interested in working on it, it's a very valid issue here

[2019-10-07 16:50] Coolguy3289 commented on #261
Pretty sure we did a code clean up here as well a while ago. Don't quote me on that

[2019-10-07 17:26] ICTman1076 commented on #249
Unfortunately this is not currently possible. Discord.js does not allow you to see any user's locale (except your own), probably because Discord itself doesn't let bots see user's locale.

[2019-10-07 17:40] ICTman1076 commented on #245
Thought I'd write something up quick for this. Based it mostly off the FAQ. I'll happily make any changes you may want

[2019-10-07 18:00] Excolo commented on #261
@haichuan0424 Did you start cleaning? Otherwise, I'd like to give it a go.

[2019-10-07 19:01] haichuan0424 commented on #261
@Excolo I'd like to work on this one if you don't mind.
@nikooo777 Thanks for letting me know. I have started with this one.

[2019-10-08 10:51] drdrjojo commented on #249
locale is only available through oauth2 authentication and not for the bots directly

[2019-10-08 17:56] Coolguy3289 commented on #245
Being addressed in https://github.com/lbryio/lbry-wunderbot/pull/262

[2019-10-08 19:02] #245 closed

[2019-10-08 19:03] Coolguy3289 commented on #249
Unless you make it a reaction based welcome message, and the reaction chosen will send a welcome message in the language choice of the user

[2019-10-08 22:51] #261 closed

[2019-10-09 18:38] ProfessorDey opened #268 "Typo in !why commit leading to build failure"
The !why commit introduced a build failure due to missing the closing bracket of the !why command definition and the comma needed between it and the !bitcoin definition. Produced a pull request to fix it and get travis builds back on track. #267

[2019-10-09 18:39] ProfessorDey commented on #268
The relevant build failure can be found here:
https://travis-ci.com/lbryio/lbry-wunderbot/builds/130782835

[2019-10-10 00:48] ykris45 commented on #250
Close close close.  hehehe

[2019-10-10 01:47] jessopb commented on #245
Sorry @Coolguy3289 I missed this.

[2019-10-10 05:21] #268 closed

[2019-10-10 05:21] #250 closed

[2019-10-10 11:07] danger89 commented on #250
ow its done already :\ Thx

[2019-10-10 18:25] tzarebczan commented on #255
I think it would make sense to do this when we re-write the tipbot to support the non-account based method of tracking balances.

[2019-10-12 16:43] nikooo777 commented on #250
thank you all for your interest, please make sure you (all) state when you're working on an issue or otherwise we end up with twice the effort, which is unfortunate.

[2019-12-28 08:18] Yamboy1 opened #289 "Why does the bot say "Please set your Discord Presence to Online to talk to the bot!""
I don't see any reason why the user's presence would affect anything, and it can get spammy if you're not set to online.
![Screenshot_20191228_211605](https://user-images.githubusercontent.com/37413895/71541008-65afde80-29b7-11ea-8e2b-4203ac69e5f1.png)

[2019-12-29 21:25] Coolguy3289 commented on #289
This was implemented because a null value being returned while looking up the user id. At the time of implementation, this was a bug in DiscordJS and the only fix at the time was to send that message if a command was received from a user with an offline status.

[2019-12-30 00:48] Coolguy3289 commented on #289
This has been removed in #290

[2019-12-30 00:48] #289 closed

[2020-05-13 00:53] littlemadhatter opened #305 "[Minor bug] mentioning wunderbot then a command triggers "yes?" then the command response"
[code]
in bot/bot.js triggers:
![image](https://user-images.githubusercontent.com/31356843/81754363-de956b80-946a-11ea-8047-a7395443193f.png)

Alternatives: Allow if a valid command after a ping to respond with the command and not the "yes" (Kind of like a secondary prefix being the ping, I vote for this one),
Check if the msg has a vaild command after the ping to not respond (Not suggestible),
ge

[2020-05-15 20:48] littlemadhatter commented on #249
Vote to close, welcome command not used anymore and might be taken out

[2020-05-15 21:08] #249 closed

[2020-11-02 06:33] danielseclen opened #332 "Lbry wunderbot"
Lbry wunderbot no puede leer mis mensajes ni enviarme mensajes ,como podría resolverlo por favor.

[2020-11-02 19:03] tzarebczan commented on #332
Make sure your discord account is setup to receive direct messages(DMs)

[2020-11-03 07:41] #332 closed

[2021-09-13 16:00] Coolguy3289 commented on #305
Mentions are broken right now, is up to be fixed next.

[2021-09-13 16:02] Coolguy3289 opened #339 "LBRYLinker & Existing Channels"
If using the lbrylinker for things like `lbry://lbryio#help` where #help is a channel in the discord, the bot doesn't convert that to :help, it resolves it to the discord channel ID in the same manner as @ mentions did before it was patched.

[2022-01-23 09:06] Coolguy3289 commented on #305
Fixed

[2022-01-23 09:06] #305 closed